<div style="padding:9px; border:1px solid #ccc;background-color:#fff;">
  <h2>Albums Recommended to <%= person_first_name(@uid) %></h2>
  <div style="margin-top:8px;color:#333;">
<% if @received.nil? or @received.size < 1 -%>
    <%= person_first_name(@uid) %> hasn't given
    anyone credit yet
<% else -%>
<%   from_uid = nil -%>
<%   for album in @received -%>
<%     unless from_uid == album.recommended_by -%>
    <div style="font-size:9px;font-weight:bold;color:#777; margin: 10px 0px 2px; padding-bottom: 2px; border-bottom:1px solid #ccc;margin-top:12px;">
      by <%= link_person_name(album.recommended_by) %>
    </div>
<%       from_uid = album.recommended_by -%>
<%     end -%>
    <%= link_public_album(album) %>&nbsp;<%= listen_count(album) %><br/>
<%   end -%>
<% end -%>
  </div>
</div>