<fb:if-is-friends-with-viewer uid="<%= @uid %>">
  <fb:mediaheader uid="<%= @uid %>">
    <fb:header-title>Listens - Recent Comments by <%= person_name(@uid) %></fb:header-title>
  </fb:mediaheader>
<%= render :partial => 'public/tabs' %>
  <div style="background-color:#f7f7f7;padding:10px;">
    <div style="padding:9px; border:1px solid #ccc;background-color:#fff;">
      <h2><%= person_first_name_possessive(@uid) %> Last <%= @max %> Comments</h2>
      <div style="margin-top:8px;color:#333;">
<% if @sent and @sent.size > 0 -%>
<%   last_date = nil -%>
<%   for comment in @sent -%>
<%     date = comment.created_at.year.to_s+comment.created_at.month.to_s+comment.created_at.day.to_s -%>
<%     unless (last_date == date) -%>
<%       last_date = date -%>
        <div style="border-bottom: 1px solid #ccc; font-weight: bold; font-size: 9px; color: #777; margin: 10px 0px 2px; padding-bottom: 2px;">
          <%= format_feed_date(comment.created_at) %>
        </div>
<%     end -%>
        <table cellspacing="0" cellpadding="0" border="0">
          <tr>
            <td style="vertical-align:top; width:16px; padding:2px 6px 0px 0px;">
              <img src="http://static.ak.facebook.com/images/icons/wall_post.gif"/>
            </td>
            <td style="color:#333; vertical-align:top; padding-top:2px;">
              <%= person_first_name(comment.created_by) %> commented on
<% if comment.on_own_album? -%>
              <fb:pronoun uid="<%= comment.created_by.to_s %>" useyou="false" usethey="false" possessive="true"/>
<% else -%>
              <%= link_person_name_possessive(comment.album.created_by) %>
<% end -%>
              album <%= link_public_album(comment.album) %>
            </td>
          </tr>
        </table>
<%   end -%>
<% else -%>
        No comments by <%= person_first_name(@uid) %> yet
<% end -%>
      </div>
    </div>
  </div>
  <fb:else>
<%= render :partial => 'site/error_404' %>
  </fb:else>
</fb:if-is-friends-with-viewer>